{{#each summaries as |summary env|}}
    <h2>{{env}}</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <tbody>
        {{#each summary as |sessions algo|}}
            {{#each sessions as |sess time_idx|}}
                <tr class="row-clickable">
                    <td><input class="mdl-checkbox__input check-session check-full-session" type="checkbox" {{#if sess.active}}checked{{/if}}></td>
                    <td class="mdl-data-table__cell--non-numeric">{{algo}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{sess.date}}</td>
                    <td></td>
                </tr>
                <tr class="runs-hidden">
                    <td></td>
                    <td colspan="2">
                        Individual: {{#each sess.runs}}<input class="mdl-checkbox__input check-session check-run" type="checkbox" id="{{path}}" {{# if active}}checked{{/if}}>{{id}}{{/each}}<br>
                        Average: {{#each sess.runs}}<input class="mdl-checkbox__input check-session check-average" type="checkbox" id="{{path}}">{{id}}{{/each}}
                    </td>
                </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>
{{/each}}